.todo-board {
  padding: 0 10% 10%;
}

.auth-form {
  padding: 0 30rem 0 20rem;
}

h1 {
  text-align: center;
  padding-left: 7rem;
}

h3 {
  text-align: center;
}

.ant-list {
  margin-top: 1.5rem
}

.todo-form {
  display: flex;
}

.todo-button {
  margin-left: 1rem;
}

.ant-btn-icon-only {
  margin-right: 0.3rem;
}

.edit-form {
  display: flex;
  margin-top: 1rem;
}

.edit-button {
  margin-left: 1rem;
}

.logout-button {
  padding: 1rem 1rem;
}
